.londrina-solid-thin {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.londrina-solid-light {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-solid-black {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.body {
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 10% 20%;
  box-sizing: border-box;
  min-height: 100vh;  
}

.content h1 {
  color:#3dadb4;
}

.content h2 {
  color:rgb(80, 54, 41);
}

.margin {
  margin-top:5%;
}

.contact ul {
  display: flex;
  justify-content: space-between;
}

.contact ul a li:hover {
  background-color:rgb(229, 174, 73);
  transition: all;
}

.contact ul li {
  width: 50px;
  height: 50px;
  padding: 1rem;
  border-radius: 50px;
  background: black;
}

.contact ul li img {
  object-fit: cover;
}

.wave {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

